# Virtual environment
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Specmatic test build outputs
build/

